<!DOCTYPE html>
<html>
<head>
 <title>Set admin_by_exec</title>
</head>
<body>

<form action="/admin_by_exec_insert" method="POST">
<h4>Who is the executive that administrates the project?</h4>

<p>
	Project:<SELECT name="project_id">
	{% for j in project_list %}
		<OPTION value={{j[0]}}>{{j[0]}} {{j[1]}}</OPTION>
	{% endfor %}
	</SELECT>
</p>

<p>
	Executive:<SELECT name="exec_id">
	{% for j in executive_list %}
		<OPTION value={{j[0]}}>{{j[0]}} {{j[1]}} {{j[2]}}</OPTION>
	{% endfor %}
	</SELECT>
</p>

<p><input type="submit" value="Submit" /></p>
<button><a href="landing">Back to landing</a></button>

</form>
</body>
</html>