<!DOCTYPE html>
<html>
<head>
 <title>Remove organisation from administration</title>
</head>
<body>

<form action="/admin_by_org_delete" method="POST" onsubmit="return confirm('Are you sure?');">
<h4>Choose organisation and project. The organisation will stop administrating it.</h4>

<p>
	Organisation:<SELECT name="id">
	{% for j in admin_by_org_list %}
		<OPTION value={{j[0]}}>{{j[0]}} {{j[1]}} {{j[2]}} {{j[3]}}</OPTION>
	{% endfor %}
	</SELECT>
</p>

<p><input type="submit" value="Submit" /></p>
<button><a href="landing">Back to landing</a></button>

</form>
</body>
</html>