<!DOCTYPE html><html><head><style>
    table, th, td {border: 1px solid black;border-collapse: collapse;}</style>
    <meta charset="UTF-8"><meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Query 3.6</title></head><body>
<table><tr><td>Res ID</td><td>Res Name</td><td>Res Surname</td><td>Age</td><td>Count</td></tr>
<tr><td>77</td>
<td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<td>23</td>
<td>5</td>
<tr><td>80</td>
<td>Αντριάννα</td>
<td>Κουλούρης</td>
<td>38</td>
<td>5</td>
<tr><td>34</td>
<td>Γιάννης</td>
<td>Λουλάκης</td>
<td>32</td>
<td>3</td>
<tr><td>44</td>
<td>Βαγγέλης</td>
<td>Παππάς</td>
<td>22</td>
<td>3</td>
<tr><td>76</td>
<td>Γιάννης</td>
<td>Μεράκης</td>
<td>27</td>
<td>3</td>
<tr><td>29</td>
<td>Κώστας</td>
<td>Παπαδόπουλος</td>
<td>34</td>
<td>2</td>
<tr><td>7</td>
<td>Αντώνιος</td>
<td>Οικονόμου</td>
<td>35</td>
<td>1</td>
<tr><td>24</td>
<td>Βρασίδας</td>
<td>Κρεμμυδόπουλος</td>
<td>23</td>
<td>1</td>
</table><button><a href='landing'>Back to landing</a></button></body></html>