<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show employees</title></head><body>
<table><tr><td>Name</td><td>Surname</td><td>Title</td></tr>
<tr><td>Μιχάλης</td>
<td>Ηλιόπουλος</td>
<td>Διαμορφωσεις ASK1024</td>
<tr><td>Μιχάλης</td>
<td>Ηλιόπουλος</td>
<td>Εξελιγμένη κρυπτογραφία</td>
<tr><td>Ανθή</td>
<td>Γκίκα</td>
<td>Αεροπορική σύνδεση Γης Σελήνης</td>
<tr><td>Μαρία</td>
<td>Καραμήτρου</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<tr><td>Μιχάλης</td>
<td>Ηλιόπουλος</td>
<td>Γεώτρηση 3 χιλιόμετρα</td>
<tr><td>Ανθή</td>
<td>Γκίκα</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Μαρία</td>
<td>Καραμήτρου</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Ανθή</td>
<td>Γκίκα</td>
<td>Εντομοφαγία</td>
<tr><td>Μαρία</td>
<td>Καραμήτρου</td>
<td>Εντομοφαγία</td>
<tr><td>Αντώνιος</td>
<td>Οικονόμου</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Ανθή</td>
<td>Γκίκα</td>
<td>Κατασκευή ιπτάμενων αυτοκινήτων</td>
<tr><td>Μαρία</td>
<td>Καραμήτρου</td>
<td>Κατασκευή ιπτάμενων αυτοκινήτων</td>
<tr><td>Ανθή</td>
<td>Γκίκα</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<tr><td>Μαρία</td>
<td>Καραμήτρου</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<tr><td>Γιώτα</td>
<td>Παπανδρέου</td>
<td>Βιωσιμότητα χωματερής στα Λιόσια</td>
<tr><td>Χρήστος</td>
<td>Ψαλλίδας</td>
<td>Γλωσσα προγραμματισμου D++</td>
<tr><td>Χρήστος</td>
<td>Ψαλλίδας</td>
<td>Αποδοτικές ανεμογεννήτριες</td>
<tr><td>Μελέτης</td>
<td>Χατζηδιακόσιας</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Χρήστος</td>
<td>Ψαλλίδας</td>
<td>Βιωσιμότητα χωματερής στα Λιόσια</td>
<tr><td>Μελέτης</td>
<td>Χατζηδιακόσιας</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<tr><td>Παρασκευή</td>
<td>Μπασδουκέα</td>
<td>Διαμορφωσεις ASK1024</td>
<tr><td>Γεώργιος</td>
<td>Κοντοπάνος</td>
<td>Σμίκρυνση VLSI</td>
<tr><td>Βρασίδας</td>
<td>Κρεμμυδόπουλος</td>
<td>Σμίκρυνση VLSI</td>
<tr><td>Βρασίδας</td>
<td>Κρεμμυδόπουλος</td>
<td>Εικονική Πραγματικότητα</td>
<tr><td>Φώτης</td>
<td>Τριγωνής</td>
<td>Έρευνα σε ρομπότ</td>
<tr><td>Κώστας</td>
<td>Παπαδόπουλος</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Γιάννης</td>
<td>Λουλάκης</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Κώστας</td>
<td>Παπαδόπουλος</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<tr><td>Γιάννης</td>
<td>Λουλάκης</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<tr><td>Μαριγώ</td>
<td>Μαριγοπούλου</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Βρασίδας</td>
<td>Κρεμμυδόπουλος</td>
<td>Διαδίκτυο</td>
<tr><td>Γιάννης</td>
<td>Λουλάκης</td>
<td>Κατασκευή ιπτάμενων αυτοκινήτων</td>
<tr><td>Γιώργος</td>
<td>Δάντης</td>
<td>Αποδοτικές ανεμογεννήτριες</td>
<tr><td>Αλέξανδρος</td>
<td>Γεωργίου</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Μαρία</td>
<td>Παπαπέτρου</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Πέτρος</td>
<td>Λούλος</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Μανώλης</td>
<td>Ανδρουλέας</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Αλέξανδρος</td>
<td>Γεωργίου</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<tr><td>Πέτρος</td>
<td>Λούλος</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<tr><td>Πέτρος</td>
<td>Λούλος</td>
<td>Επιχορήγηση κάτι</td>
<tr><td>Αλέξανδρος</td>
<td>Γεωργίου</td>
<td>Ψυγείο με τεχνητή νοημοσύνη</td>
<tr><td>Βαγγέλης</td>
<td>Παππάς</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Υβόννη</td>
<td>Κελευστή</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Ραφαήλ</td>
<td>Γαντάς</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Φώντας</td>
<td>Σκληρός</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Μαρία</td>
<td>Λέκτορα</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Βαγγέλης</td>
<td>Παππάς</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<tr><td>Φώντας</td>
<td>Σκληρός</td>
<td>Επιχορήγηση κάτι</td>
<tr><td>Μαρία</td>
<td>Λέκτορα</td>
<td>Επιχορήγηση κάτι</td>
<tr><td>Βαγγέλης</td>
<td>Παππάς</td>
<td>Ψυγείο με τεχνητή νοημοσύνη</td>
<tr><td>Γιώργος</td>
<td>Παπαλούλος</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Γιώργος</td>
<td>Παπαλούλος</td>
<td>Εντομοφαγία</td>
<tr><td>Γιώργος</td>
<td>Παπαλούλος</td>
<td>Τεχνητό συκώτι</td>
<tr><td>Γιώργος</td>
<td>Παπαλούλος</td>
<td>Τηλεμεταφορά</td>
<tr><td>Γιώργος</td>
<td>Παπαλούλος</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<tr><td>Μαρία</td>
<td>Παπαπά</td>
<td>Επιχορήγηση κάτι</td>
<tr><td>Μαρία</td>
<td>Μητροπάνου</td>
<td>Επιχορήγηση κάτι</td>
<tr><td>Γιώργος</td>
<td>Παπαλούλος</td>
<td>Ψυγείο με τεχνητή νοημοσύνη</td>
<tr><td>Γιώργος</td>
<td>Παπαλούλος</td>
<td>Χαλυβουργία Υψηλού Επιπέδου</td>
<tr><td>Γιάννης</td>
<td>Μάστορας</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Αλεξάνδρα</td>
<td>Υδραυλικού</td>
<td>Αεροπορική σύνδεση Γης Σελήνης</td>
<tr><td>Γιάννης</td>
<td>Μάστορας</td>
<td>Τεχνητό συκώτι</td>
<tr><td>Αλεξάνδρα</td>
<td>Υδραυλικού</td>
<td>Τεχνητό συκώτι</td>
<tr><td>Γιάννης</td>
<td>Μεράκης</td>
<td>Κλωνοποίηση βακτηρίων</td>
<tr><td>Γιάννης</td>
<td>Μεράκης</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<tr><td>Αλεξάνδρα</td>
<td>Μητρολάνου</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<tr><td>Γιάννης</td>
<td>Γιαννιώτας</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<tr><td>Αλεξάνδρα</td>
<td>Μητρολάνου</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<tr><td>Γιάννης</td>
<td>Μεράκης</td>
<td>Τυχαίο έργο</td>
<tr><td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<td>Ανθρωπιστικότερη παιδεία</td>
<tr><td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<td>Πλήρης αναστήλωση Ακρόπολης</td>
<tr><td>Αντωνία</td>
<td>Καβαλούρη</td>
<td>Ψυγείο με τεχνητή νοημοσύνη</td>
<tr><td>Αντριάννα</td>
<td>Κουλούρης</td>
<td>Διαδίκτυο πραγμάτων</td>
<tr><td>Βλάσης</td>
<td>Μοσχόπουλος</td>
<td>Ανάδειξη Φυσικής Ομορφιάς στο Κιλκίς</td>
<tr><td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<td>Κλωνοποίηση βακτηρίων</td>
<tr><td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<td>Κλωνοποίηση βακτηρίων</td>
<tr><td>Αντωνία</td>
<td>Καβαλούρη</td>
<td>Κλωνοποίηση βακτηρίων</td>
<tr><td>Αντριάννα</td>
<td>Κουλούρης</td>
<td>Κλωνοποίηση βακτηρίων</td>
<tr><td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Αντωνία</td>
<td>Καβαλούρη</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Αντριάννα</td>
<td>Κουλούρης</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Άννα</td>
<td>Πουλοπούλου</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Αντριάννα</td>
<td>Κουλούρης</td>
<td>Εντομοφαγία</td>
<tr><td>Βλάσης</td>
<td>Μοσχόπουλος</td>
<td>Εντομοφαγία</td>
<tr><td>Άννα</td>
<td>Πουλοπούλου</td>
<td>Εντομοφαγία</td>
<tr><td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<tr><td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<tr><td>Αντωνία</td>
<td>Καβαλούρη</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<tr><td>Αντριάννα</td>
<td>Κουλούρης</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<tr><td>Γιάννης</td>
<td>Μεράκης</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<tr><td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<tr><td>Γιάννης</td>
<td>Μεράκης</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<tr><td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<tr><td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<tr><td>Αντωνία</td>
<td>Καβαλούρη</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<tr><td>Αντριάννα</td>
<td>Κουλούρης</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<tr><td>Βλάσης</td>
<td>Μοσχόπουλος</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<tr><td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<td>Ένα ακόμα</td>
<tr><td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<td>Ένα ακόμα</td>
<tr><td>Αντωνία</td>
<td>Καβαλούρη</td>
<td>Ένα ακόμα</td>
<tr><td>Αντριάννα</td>
<td>Κουλούρης</td>
<td>Ένα ακόμα</td>
<tr><td>Βλάσης</td>
<td>Μοσχόπουλος</td>
<td>Ένα ακόμα</td>
<tr><td>Άννα</td>
<td>Πουλοπούλου</td>
<td>Οικονομική εξόρυξη σιδήρου στη Μακεδονία</td>
<tr><td>Αριάδνη</td>
<td>Γρηγορίου</td>
<td>Εντομοφαγία</td>
<tr><td>Οδυσσέας</td>
<td>Σημηριώτης</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Μιλτιάδης</td>
<td>Στεφανόπουλος</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Ορέστης</td>
<td>Δέδες</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Στυλιανός</td>
<td>Δασκαλάκη</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Σπύρος</td>
<td>Γαλάνης</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Ορέστης</td>
<td>Δέδες</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<tr><td>Στυλιανός</td>
<td>Δασκαλάκη</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<tr><td>Σπύρος</td>
<td>Γαλάνης</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<tr><td>Οδυσσέας</td>
<td>Σημηριώτης</td>
<td>Επιχορήγηση κάτι</td>
<tr><td>Μιλτιάδης</td>
<td>Στεφανόπουλος</td>
<td>Επιχορήγηση κάτι</td>
<tr><td>Ορέστης</td>
<td>Δέδες</td>
<td>Επιχορήγηση κάτι</td>
<tr><td>Στυλιανός</td>
<td>Δασκαλάκη</td>
<td>Επιχορήγηση κάτι</td>
<tr><td>Σπύρος</td>
<td>Γαλάνης</td>
<td>Επιχορήγηση κάτι</td>
<tr><td>Αριάδνη</td>
<td>Γρηγορίου</td>
<td>Εφεύρεση νέων κραμάτων</td>
<tr><td>Γιώργος</td>
<td>Δενδρινός</td>
<td>Κατασκευή ιπτάμενων αυτοκινήτων</td>
<tr><td>Γιώργος</td>
<td>Δενδρινός</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>Μαρία</td>
<td>Παλαμά</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Μαρία</td>
<td>Βασιλόπουλου</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Αριάδνη</td>
<td>Γρηγορίου</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<tr><td>Γιώργος</td>
<td>Δενδρινός</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<tr><td>Μαρία</td>
<td>Παλαμά</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<tr><td>Μαρία</td>
<td>Βασιλόπουλου</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<tr><td>Μαρία</td>
<td>Βόυρου</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Μαρία</td>
<td>Κουράκη</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Μαρία</td>
<td>Κυπραίου</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>Μαρία</td>
<td>Βόυρου</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<tr><td>Μαρία</td>
<td>Κουράκη</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<tr><td>Μαρία</td>
<td>Κυπραίου</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<tr><td>Μαρία</td>
<td>Κουράκη</td>
<td>Επιχορήγηση κάτι</td>
<tr><td>Μαρία</td>
<td>Κυπραίου</td>
<td>Επιχορήγηση κάτι</td>
</table><button><a href='landing'>Back to landing</a></button>
<p>This view shows the names of researchers that work on a project
    or supervise it, and the title of the ascosciated project</p></body></html>