<!DOCTYPE html><html><head><style>
    table, th, td {border: 1px solid black;border-collapse: collapse;}</style>
    <meta charset="UTF-8"><meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Query 3.4</title></head><body>
<table><tr><td>Org ID</td><td>Org Name</td></tr>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
</table><button><a href='landing'>Back to landing</a></button></body></html>