<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show works_on_projs</title></head><body>
<table><tr><td>ID</td><td>Name</td><td>Surname</td></tr>
<tr><td>3</td>
<td>Ανθή</td>
<td>Γκίκα</td>
<tr><td>4</td>
<td>Μαρία</td>
<td>Καραμήτρου</td>
<tr><td>14</td>
<td>Μελέτης</td>
<td>Χατζηδιακόσιας</td>
<tr><td>29</td>
<td>Κώστας</td>
<td>Παπαδόπουλος</td>
<tr><td>34</td>
<td>Γιάννης</td>
<td>Λουλάκης</td>
<tr><td>37</td>
<td>Αλέξανδρος</td>
<td>Γεωργίου</td>
<tr><td>44</td>
<td>Βαγγέλης</td>
<td>Παππάς</td>
<tr><td>54</td>
<td>Γιώργος</td>
<td>Παπαλούλος</td>
<tr><td>64</td>
<td>Γιάννης</td>
<td>Μάστορας</td>
<tr><td>77</td>
<td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<tr><td>78</td>
<td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<tr><td>79</td>
<td>Αντωνία</td>
<td>Καβαλούρη</td>
<tr><td>80</td>
<td>Αντριάννα</td>
<td>Κουλούρης</td>
<tr><td>83</td>
<td>Άννα</td>
<td>Πουλοπούλου</td>
<tr><td>96</td>
<td>Γιώργος</td>
<td>Δενδρινός</td>
</table><button><a href='landing'>Back to landing</a></button></body></html>