<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show employees</title></head><body>
<table><tr><td>Exec surname</td><td>Program</td></tr>
<tr><td>Αργοναύτης</td>
<td>Επιστροφή στις ρίζες</td>
<tr><td>Αργοναύτης</td>
<td>Προώθηση νέας τεχνολογίας</td>
<tr><td>Αργοναύτης</td>
<td>Πρόγραμμα Εξάπλωσης Επικοινωνίας</td>
<tr><td>Αργοναύτης</td>
<td>Καινοτομία</td>
<tr><td>Αργοναύτης</td>
<td>Αειφόρος ανάπτυξη</td>
<tr><td>Αυλίδου</td>
<td>Προώθηση νέας τεχνολογίας</td>
<tr><td>Αυλίδου</td>
<td>Ηλεκτρονικές τεχνολογίες</td>
<tr><td>Αυλίδου</td>
<td>Πρόγραμμα φυσικών πόρων</td>
<tr><td>Εξαπίνη</td>
<td>Πρόγραμμα Διατήρησης Ιστορίας</td>
<tr><td>Εξαπίνη</td>
<td>Γεωφυσική επένδυση</td>
<tr><td>Κελετζής</td>
<td>Ηλεκτρονική Επανάστηση</td>
<tr><td>Κελετζής</td>
<td>Μουσικοτεχνολογία</td>
<tr><td>Κυριακίδης</td>
<td>Ανασκαφές στη Βόρεια Ελλάδα</td>
<tr><td>Κυριακίδης</td>
<td>Ευρωπαικό πρόγραμμα καλλιτεχνίας</td>
<tr><td>Κυριακίδης</td>
<td>Πρόγραμμα Αποδοτικής Ανάπτυξης</td>
<tr><td>Μηχανικού</td>
<td>Πράσινη προώθηση</td>
<tr><td>Παπαβαγγέλης</td>
<td>Γεωφυσική επένδυση</td>
<tr><td>Παπαβαγγέλης</td>
<td>Πρόγραμμα κοινωνικής πρόνοιας</td>
<tr><td>Παπαδόπουλος</td>
<td>Καινοτομία</td>
<tr><td>Παπαδόπουλος</td>
<td>Πρόγραμμα Ενίσχυσης Τάσεων Αυτοματισμού</td>
<tr><td>Παπαδόπουλος</td>
<td>Προώθηση νέας τεχνολογίας</td>
<tr><td>Παπαπαύλου</td>
<td>Πρόγραμμα Διατήρησης Ιστορίας</td>
<tr><td>Παπαπαύλου</td>
<td>Πρόγραμμα κοινωνικής πρόνοιας</td>
<tr><td>Παπαπαύλου</td>
<td>Ηλεκτρονικές τεχνολογίες</td>
<tr><td>Παπαπαύλου</td>
<td>Γεωφυσική επένδυση</td>
<tr><td>Παπαπαύλου</td>
<td>Χορηγία Εθνικού Θεάτρου</td>
<tr><td>Παπαπαύλου</td>
<td>Τεχνολογική Επανάσταση</td>
<tr><td>Περιστέρης</td>
<td>Φιλική τεχνολογία</td>
<tr><td>Περιστέρης</td>
<td>Αειφόρος ανάπτυξη</td>
<tr><td>Περιστέρης</td>
<td>Πρόγραμμα κοινωνικής πρόνοιας</td>
<tr><td>Περιστέρης</td>
<td>Καινοτομία</td>
<tr><td>Περιστέρης</td>
<td>Πράσινη σκέψη</td>
<tr><td>Σφιγγόπουλος</td>
<td>Παιδεία για όλους</td>
<tr><td>Σφιγγόπουλος</td>
<td>Πρόγραμμα φυσικών πόρων</td>
<tr><td>Σφιγγόπουλος</td>
<td>Πρόγραμμα Διατήρησης Ιστορίας</td>
<tr><td>Ταύρου</td>
<td>Επιστροφή στις ρίζες</td>
<tr><td>Ταύρου</td>
<td>Ανασκαφές στη Βόρεια Ελλάδα</td>
<tr><td>Ταύρου</td>
<td>Ηλεκτρονικές τεχνολογίες</td>
<tr><td>Υπερείδης</td>
<td>Πρόγραμμα Αποδοτικής Ανάπτυξης</td>
<tr><td>Υπερείδης</td>
<td>Επένδυση στις ανανεώσιμες</td>
<tr><td>Φτέρνας</td>
<td>Ανασκαφές στη Βόρεια Ελλάδα</td>
<tr><td>Φτέρνας</td>
<td>Αειφόρος ανάπτυξη</td>
<tr><td>Φτέρνας</td>
<td>Διαγωνισμός για πράσινες προτάσεις</td>
<tr><td>Φτέρνας</td>
<td>Πράσινη σκέψη</td>
<tr><td>Φτέρνας</td>
<td>Πρόγραμμα Αποδοτικής Ανάπτυξης</td>
<tr><td>Χρυσός</td>
<td>Καινοτομία</td>
<tr><td>Χρυσός</td>
<td>Βραβείο στις νέες καινοτομίες</td>
</table><button><a href='landing'>Back to landing</a></button>
<p>This view shows the surnames of executives and the
    names of the programs that are ascosciated by the same project</p></body></html>