<!DOCTYPE html><html><head><style>
    table, th, td {border: 1px solid black;border-collapse: collapse;}</style>
    <meta charset="UTF-8"><meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Query 3.8</title></head><body>
<table><tr><td>Res ID</td><td>Res Name</td><td>Res Surname</td><td>Counter</td></tr>
<tr><td>54</td>
<td>Γιώργος</td>
<td>Παπαλούλος</td>
<td>7</td>
<tr><td>77</td>
<td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<td>5</td>
<tr><td>80</td>
<td>Αντριάννα</td>
<td>Κουλούρης</td>
<td>5</td>
</table><button><a href='landing'>Back to landing</a></button></body></html>