<!DOCTYPE html><html><head><style>
    table, th, td {border: 1px solid black;border-collapse: collapse;}</style>
    <meta charset="UTF-8"><meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Query 3.7</title></head><body>
<table><tr><td>Ex ID</td><td>Ex Name</td><td>Ex Surname</td><td>Org ID</td><td>Org Name</td><td>Money</td></tr>
<tr><td>3</td>
<td>Μενέλαος</td>
<td>Παπαπαύλου</td>
<td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>3200467</td>
<tr><td>5</td>
<td>Ιάσονας</td>
<td>Αργοναύτης</td>
<td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>1822700</td>
<tr><td>7</td>
<td>Αχιλλέας</td>
<td>Φτέρνας</td>
<td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>1464456</td>
<tr><td>9</td>
<td>Ασπασία</td>
<td>Εξαπίνη</td>
<td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>1122456</td>
<tr><td>15</td>
<td>Παρασκυάς</td>
<td>Κελετζής</td>
<td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>1110921</td>
<tr><td>5</td>
<td>Ιάσονας</td>
<td>Αργοναύτης</td>
<td>17</td>
<td>Φιλοπάππος και Υιοί</td>
<td>987000</td>
<tr><td>4</td>
<td>Παρμενίων</td>
<td>Περιστέρης</td>
<td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>987000</td>
<tr><td>10</td>
<td>Ιφιγένεια</td>
<td>Ταύρου</td>
<td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>987000</td>
<tr><td>6</td>
<td>Περικλής</td>
<td>Χρυσός</td>
<td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>900789</td>
<tr><td>8</td>
<td>Ιφιγένεια</td>
<td>Αυλίδου</td>
<td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>900000</td>
<tr><td>11</td>
<td>Ευαγόρας</td>
<td>Παπαβαγγέλης</td>
<td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>850000</td>
<tr><td>12</td>
<td>Περικλής</td>
<td>Σφιγγόπουλος</td>
<td>19</td>
<td>Αλεπουδάκης και Σία</td>
<td>842000</td>
<tr><td>16</td>
<td>Ηλέκτρα</td>
<td>Μηχανικού</td>
<td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>832564</td>
<tr><td>7</td>
<td>Αχιλλέας</td>
<td>Φτέρνας</td>
<td>15</td>
<td>Αφοί Αλεξανδρή</td>
<td>786000</td>
<tr><td>6</td>
<td>Περικλής</td>
<td>Χρυσός</td>
<td>28</td>
<td>Χημική Εταιρία</td>
<td>785400</td>
<tr><td>11</td>
<td>Ευαγόρας</td>
<td>Παπαβαγγέλης</td>
<td>24</td>
<td>Διεθνή γεωτρύπανα ΕΕ</td>
<td>507000</td>
<tr><td>13</td>
<td>Κλέαρχος</td>
<td>Υπερείδης</td>
<td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>378124</td>
<tr><td>9</td>
<td>Ασπασία</td>
<td>Εξαπίνη</td>
<td>19</td>
<td>Αλεπουδάκης και Σία</td>
<td>244700</td>
<tr><td>10</td>
<td>Ιφιγένεια</td>
<td>Ταύρου</td>
<td>25</td>
<td>Τσαγκαράδικο του Μητσάρα</td>
<td>234500</td>
<tr><td>4</td>
<td>Παρμενίων</td>
<td>Περιστέρης</td>
<td>15</td>
<td>Αφοί Αλεξανδρή</td>
<td>210600</td>
</table><button><a href='landing'>Back to landing</a></button></body></html>