<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show deliverables</title></head><body>
<table><tr><td>Proj ID</td><td>Proj title</td><td>Deliv name</td><td>Deadline</td></tr>
<tr><td>2</td>
<td>Διαμορφωσεις ASK1024</td>
<td>Δεύτερο Στάδιο</td>
<td>2021-12-24</td>
<tr><td>2</td>
<td>Διαμορφωσεις ASK1024</td>
<td>Πρώτο Στάδιο</td>
<td>2021-04-23</td>
<tr><td>6</td>
<td>Εξοικονόμηση ενέργειας σε σπίτια</td>
<td>Αλουμίνια</td>
<td>2003-02-23</td>
<tr><td>7</td>
<td>Κλωνοποίηση βακτηρίων</td>
<td>Εσερίχεια Κόλη</td>
<td>2001-12-23</td>
<tr><td>8</td>
<td>Γεώτρηση 3 χιλιόμετρα</td>
<td>Φάση Α</td>
<td>2000-02-15</td>
<tr><td>14</td>
<td>Έρευνα σε ρομπότ</td>
<td>Χέρι ρομπότ</td>
<td>2020-12-23</td>
</table><button><a href='landing'>Back to landing</a></button></body></html>