<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show employees</title></head><body>
<table><tr><td>Org ID</td><td>Org name</td><td>Res ID</td><td>Res name</td><td>Res surname</td><td>Start</td></tr>
<tr><td>1</td>
<td>Εθνικό Μετσόβιο Πολυτεχνείο</td>
<td>1</td>
<td>Μιχάλης</td>
<td>Ηλιόπουλος</td>
<td>2001-09-23</td>
<tr><td>1</td>
<td>Εθνικό Μετσόβιο Πολυτεχνείο</td>
<td>22</td>
<td>Παρασκευή</td>
<td>Μπασδουκέα</td>
<td>2001-03-22</td>
<tr><td>1</td>
<td>Εθνικό Μετσόβιο Πολυτεχνείο</td>
<td>58</td>
<td>Γιώργος</td>
<td>Αγόρας</td>
<td>2015-12-21</td>
<tr><td>2</td>
<td>Καποδιστριακό</td>
<td>11</td>
<td>Διαμάντω</td>
<td>Μπότσαρη</td>
<td>2000-07-12</td>
<tr><td>2</td>
<td>Καποδιστριακό</td>
<td>52</td>
<td>Γιώργος</td>
<td>Πηλιωρίτης</td>
<td>2015-12-21</td>
<tr><td>3</td>
<td>Πανεπιστήμιο Θεσσαλίας</td>
<td>23</td>
<td>Γεώργιος</td>
<td>Κοντοπάνος</td>
<td>2001-08-30</td>
<tr><td>3</td>
<td>Πανεπιστήμιο Θεσσαλίας</td>
<td>24</td>
<td>Βρασίδας</td>
<td>Κρεμμυδόπουλος</td>
<td>2010-10-25</td>
<tr><td>3</td>
<td>Πανεπιστήμιο Θεσσαλίας</td>
<td>25</td>
<td>Φώτης</td>
<td>Τριγωνής</td>
<td>2014-09-27</td>
<tr><td>3</td>
<td>Πανεπιστήμιο Θεσσαλίας</td>
<td>100</td>
<td>Γιώργος</td>
<td>Αρμένης</td>
<td>2015-12-21</td>
<tr><td>4</td>
<td>Ινστιτόυτο έρευνας καινοτομίας</td>
<td>2</td>
<td>Παναγιώτης</td>
<td>Παπαθανασίου</td>
<td>2017-10-10</td>
<tr><td>4</td>
<td>Ινστιτόυτο έρευνας καινοτομίας</td>
<td>12</td>
<td>Ανδρομάχη</td>
<td>Ψυχογιού</td>
<td>2016-12-01</td>
<tr><td>4</td>
<td>Ινστιτόυτο έρευνας καινοτομίας</td>
<td>21</td>
<td>Αφροδίτη</td>
<td>Καλλέργη</td>
<td>2017-10-30</td>
<tr><td>4</td>
<td>Ινστιτόυτο έρευνας καινοτομίας</td>
<td>94</td>
<td>Γιώργος</td>
<td>Ευαγγελιστής</td>
<td>2015-12-21</td>
<tr><td>5</td>
<td>Τεχνολογικό κέντρο αιχμής</td>
<td>13</td>
<td>Θεοδώρα</td>
<td>Παπασταύρου</td>
<td>2015-05-12</td>
<tr><td>5</td>
<td>Τεχνολογικό κέντρο αιχμής</td>
<td>31</td>
<td>Βαγγελιώ</td>
<td>Πυργάκη</td>
<td>2014-02-13</td>
<tr><td>5</td>
<td>Τεχνολογικό κέντρο αιχμής</td>
<td>33</td>
<td>Δήμητρα</td>
<td>Εξαδάκτυλου</td>
<td>2017-06-20</td>
<tr><td>5</td>
<td>Τεχνολογικό κέντρο αιχμής</td>
<td>102</td>
<td>Γιώργος</td>
<td>Βιτάλης</td>
<td>2015-12-21</td>
<tr><td>6</td>
<td>Βιοεργαστήρια Βιοιατρικής</td>
<td>15</td>
<td>Άννα</td>
<td>Μελετίου</td>
<td>2014-12-12</td>
<tr><td>6</td>
<td>Βιοεργαστήρια Βιοιατρικής</td>
<td>16</td>
<td>Χρήστος</td>
<td>Ψαλλίδας</td>
<td>2020-12-20</td>
<tr><td>6</td>
<td>Βιοεργαστήρια Βιοιατρικής</td>
<td>17</td>
<td>Γιώτα</td>
<td>Παπανδρέου</td>
<td>2018-12-20</td>
<tr><td>6</td>
<td>Βιοεργαστήρια Βιοιατρικής</td>
<td>40</td>
<td>Γιώργος</td>
<td>Δάντης</td>
<td>2015-12-21</td>
<tr><td>7</td>
<td>Επιστημονικό κέντρο Κανελόπουλου</td>
<td>9</td>
<td>Αργύρης</td>
<td>Παπαλάνος</td>
<td>2017-08-18</td>
<tr><td>7</td>
<td>Επιστημονικό κέντρο Κανελόπουλου</td>
<td>30</td>
<td>Ελένη</td>
<td>Πετράκη</td>
<td>1997-03-20</td>
<tr><td>7</td>
<td>Επιστημονικό κέντρο Κανελόπουλου</td>
<td>60</td>
<td>Γιώργος</td>
<td>Ρόπουλος</td>
<td>2015-12-21</td>
<tr><td>7</td>
<td>Επιστημονικό κέντρο Κανελόπουλου</td>
<td>95</td>
<td>Δημήτρης</td>
<td>Κυριακός</td>
<td>2015-12-21</td>
<tr><td>8</td>
<td>Εταιρία Όνομα ΟΕ</td>
<td>6</td>
<td>Χρήστος</td>
<td>Παπακώστας</td>
<td>2017-03-20</td>
<tr><td>8</td>
<td>Εταιρία Όνομα ΟΕ</td>
<td>92</td>
<td>Δημήτρης</td>
<td>Γούσιος</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>3</td>
<td>Ανθή</td>
<td>Γκίκα</td>
<td>2016-11-12</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>4</td>
<td>Μαρία</td>
<td>Καραμήτρου</td>
<td>2015-02-04</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>14</td>
<td>Μελέτης</td>
<td>Χατζηδιακόσιας</td>
<td>2010-10-01</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>29</td>
<td>Κώστας</td>
<td>Παπαδόπουλος</td>
<td>2014-08-10</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>34</td>
<td>Γιάννης</td>
<td>Λουλάκης</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>37</td>
<td>Αλέξανδρος</td>
<td>Γεωργίου</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>44</td>
<td>Βαγγέλης</td>
<td>Παππάς</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>54</td>
<td>Γιώργος</td>
<td>Παπαλούλος</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>64</td>
<td>Γιάννης</td>
<td>Μάστορας</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>65</td>
<td>Αλεξάνδρα</td>
<td>Υδραυλικού</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>70</td>
<td>Γιάννης</td>
<td>Γιαννιώτας</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>71</td>
<td>Αλεξάνδρα</td>
<td>Μητρολάνου</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>76</td>
<td>Γιάννης</td>
<td>Μεράκης</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>77</td>
<td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>78</td>
<td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>79</td>
<td>Αντωνία</td>
<td>Καβαλούρη</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>80</td>
<td>Αντριάννα</td>
<td>Κουλούρης</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>82</td>
<td>Βλάσης</td>
<td>Μοσχόπουλος</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>83</td>
<td>Άννα</td>
<td>Πουλοπούλου</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>91</td>
<td>Αριάδνη</td>
<td>Γρηγορίου</td>
<td>2015-12-21</td>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>96</td>
<td>Γιώργος</td>
<td>Δενδρινός</td>
<td>2015-12-21</td>
<tr><td>10</td>
<td>Πανεπιστήμιο Στερεάς Ελλάδας</td>
<td>18</td>
<td>Παναγιώτα</td>
<td>Τσούπρα</td>
<td>2017-11-09</td>
<tr><td>10</td>
<td>Πανεπιστήμιο Στερεάς Ελλάδας</td>
<td>19</td>
<td>Δημήτριος</td>
<td>Καρατάβλης</td>
<td>2016-03-29</td>
<tr><td>10</td>
<td>Πανεπιστήμιο Στερεάς Ελλάδας</td>
<td>20</td>
<td>Δήμητρα</td>
<td>Καρατάσου</td>
<td>2015-03-29</td>
<tr><td>10</td>
<td>Πανεπιστήμιο Στερεάς Ελλάδας</td>
<td>62</td>
<td>Δημήτρης</td>
<td>Μερακλής</td>
<td>2015-12-21</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>5</td>
<td>Ιωάννης</td>
<td>Παπαπαντολέων</td>
<td>2014-01-01</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>7</td>
<td>Αντώνιος</td>
<td>Οικονόμου</td>
<td>2017-12-18</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>32</td>
<td>Μαριγώ</td>
<td>Μαριγοπούλου</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>35</td>
<td>Μαρία</td>
<td>Παπαπέτρου</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>36</td>
<td>Πέτρος</td>
<td>Λούλος</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>41</td>
<td>Μανώλης</td>
<td>Ανδρουλέας</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>43</td>
<td>Υβόννη</td>
<td>Κελευστή</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>47</td>
<td>Ραφαήλ</td>
<td>Γαντάς</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>48</td>
<td>Φώντας</td>
<td>Σκληρός</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>51</td>
<td>Μαρία</td>
<td>Λέκτορα</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>55</td>
<td>Μαρία</td>
<td>Παπαπά</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>57</td>
<td>Μαρία</td>
<td>Μητροπάνου</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>59</td>
<td>Δημήτρης</td>
<td>Λιοπύρης</td>
<td>2015-12-21</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>61</td>
<td>Μαρία</td>
<td>Μελετίου</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>63</td>
<td>Μαρία</td>
<td>Μάρκου</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>66</td>
<td>Μάριος</td>
<td>Χτίστης</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>72</td>
<td>Μάριος</td>
<td>Πουλημένος</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>86</td>
<td>Οδυσσέας</td>
<td>Σημηριώτης</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>87</td>
<td>Μιλτιάδης</td>
<td>Στεφανόπουλος</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>88</td>
<td>Ορέστης</td>
<td>Δέδες</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>89</td>
<td>Στυλιανός</td>
<td>Δασκαλάκη</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>90</td>
<td>Σπύρος</td>
<td>Γαλάνης</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>93</td>
<td>Μαρία</td>
<td>Παλαμά</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>97</td>
<td>Μαρία</td>
<td>Βασιλόπουλου</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>99</td>
<td>Μαρία</td>
<td>Βόυρου</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>103</td>
<td>Μαρία</td>
<td>Κουράκη</td>
<td>2015-12-12</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>105</td>
<td>Μαρία</td>
<td>Κυπραίου</td>
<td>2015-12-12</td>
<tr><td>13</td>
<td>Ορυκτά Καύσιμα ΑΕ</td>
<td>56</td>
<td>Δημήτρης</td>
<td>Μιχαλαριάς</td>
<td>2015-12-21</td>
<tr><td>14</td>
<td>Πανεπιστήμιο Πειραιά</td>
<td>53</td>
<td>Δημήτρης</td>
<td>Γεωργόπουλος</td>
<td>2015-12-21</td>
<tr><td>15</td>
<td>Αφοί Αλεξανδρή</td>
<td>50</td>
<td>Δημήτρης</td>
<td>Παπαλέξης</td>
<td>2015-12-21</td>
<tr><td>16</td>
<td>Πτήση του Ίκαρου</td>
<td>101</td>
<td>Δημήτρης</td>
<td>Βαρβάτος</td>
<td>2015-12-21</td>
<tr><td>17</td>
<td>Φιλοπάππος και Υιοί</td>
<td>98</td>
<td>Δημήτρης</td>
<td>Βούλγαρης</td>
<td>2015-12-21</td>
<tr><td>18</td>
<td>Οικονομικό Πανεπιστήμιο</td>
<td>104</td>
<td>Δημήτρης</td>
<td>Κουταλιανός</td>
<td>2015-12-21</td>
<tr><td>19</td>
<td>Αλεπουδάκης και Σία</td>
<td>38</td>
<td>Ειρήνη</td>
<td>Καραμήτρου</td>
<td>2015-12-21</td>
<tr><td>20</td>
<td>Δαιδαλώδεις Σχεδιαστές</td>
<td>39</td>
<td>Ελευθερία</td>
<td>Διονυσίου</td>
<td>2015-12-21</td>
<tr><td>21</td>
<td>Φιλολογικό Πανεπιστήμιο</td>
<td>45</td>
<td>Ελπίδα</td>
<td>Υπαρκτή</td>
<td>2015-12-21</td>
<tr><td>22</td>
<td>Οβελιστήριο Θεός της Πείνας</td>
<td>81</td>
<td>Θανάσης</td>
<td>Μαραγκός</td>
<td>2015-12-21</td>
<tr><td>23</td>
<td>Καθρέφτης του Αρχιμήδη</td>
<td>69</td>
<td>Ιωάννα</td>
<td>Βασιλείου</td>
<td>2015-12-21</td>
<tr><td>24</td>
<td>Διεθνή γεωτρύπανα ΕΕ</td>
<td>75</td>
<td>Ιωάννα</td>
<td>Αλαλάνου</td>
<td>2015-12-21</td>
<tr><td>25</td>
<td>Τσαγκαράδικο του Μητσάρα</td>
<td>42</td>
<td>Κυριακή</td>
<td>Παρασκευοπούλου</td>
<td>2015-12-21</td>
<tr><td>26</td>
<td>Σπουδαίοι Ερευνητές</td>
<td>73</td>
<td>Κώστας</td>
<td>Ηλιοφόρος</td>
<td>2015-12-21</td>
<tr><td>27</td>
<td>Πανεπιστήμιο Εύβοιας</td>
<td>67</td>
<td>Κώστας</td>
<td>Μαλαγάνας</td>
<td>2015-12-21</td>
<tr><td>28</td>
<td>Χημική Εταιρία</td>
<td>84</td>
<td>Λάζαρος</td>
<td>Ραγκαβής</td>
<td>2015-12-21</td>
<tr><td>29</td>
<td>Σύνδεσμος Ελλήνων Μαθηματικών</td>
<td>85</td>
<td>Λάμπρος</td>
<td>Ρόκας</td>
<td>2015-12-21</td>
<tr><td>30</td>
<td>Διεθνές Πανεπιστήμιο</td>
<td>68</td>
<td>Λεωνίδας</td>
<td>Λούλος</td>
<td>2015-12-21</td>
<tr><td>30</td>
<td>Διεθνές Πανεπιστήμιο</td>
<td>74</td>
<td>Λεωνίδας</td>
<td>Φωστήρας</td>
<td>2015-12-21</td>
</table><button><a href='landing'>Back to landing</a></button></body></html>