<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show executives</title></head><body>
<table><tr><td>ID</td><td>Name</td><td>Surname</td></tr>
<tr><td>1</td>
<td>Αριστομένης</td>
<td>Παπαδόπουλος</td></tr>
<tr><td>2</td>
<td>Φαίδων</td>
<td>Κυριακίδης</td></tr>
<tr><td>3</td>
<td>Μενέλαος</td>
<td>Παπαπαύλου</td></tr>
<tr><td>4</td>
<td>Παρμενίων</td>
<td>Περιστέρης</td></tr>
<tr><td>5</td>
<td>Ιάσονας</td>
<td>Αργοναύτης</td></tr>
<tr><td>6</td>
<td>Περικλής</td>
<td>Χρυσός</td></tr>
<tr><td>7</td>
<td>Αχιλλέας</td>
<td>Φτέρνας</td></tr>
<tr><td>8</td>
<td>Ιφιγένεια</td>
<td>Αυλίδου</td></tr>
<tr><td>9</td>
<td>Ασπασία</td>
<td>Εξαπίνη</td></tr>
<tr><td>10</td>
<td>Ιφιγένεια</td>
<td>Ταύρου</td></tr>
<tr><td>11</td>
<td>Ευαγόρας</td>
<td>Παπαβαγγέλης</td></tr>
<tr><td>12</td>
<td>Περικλής</td>
<td>Σφιγγόπουλος</td></tr>
<tr><td>13</td>
<td>Κλέαρχος</td>
<td>Υπερείδης</td></tr>
<tr><td>15</td>
<td>Παρασκυάς</td>
<td>Κελετζής</td></tr>
<tr><td>16</td>
<td>Ηλέκτρα</td>
<td>Μηχανικού</td></tr>
</table><button><a href='landing'>Back to landing</a></button></body></html>