<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show fields</title></head><body>
<table><tr><td>Name</td></tr>
<tr><td>Αρχαιολογία</td></tr>
<tr><td>Βιοιατρική</td></tr>
<tr><td>Βιολογία</td></tr>
<tr><td>Γλωσσολογία</td></tr>
<tr><td>Ηλεκτρονική</td></tr>
<tr><td>Μαθηματικά</td></tr>
<tr><td>Οικονομικά</td></tr>
<tr><td>Περιβάλλον</td></tr>
<tr><td>Πληροφορική</td></tr>
<tr><td>Φυσική</td></tr>
</table><button><a href='landing'>Back to landing</a></button></body></html>