<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show financings</title></head><body>
<table><tr><td>Prog ID</td><td>Prog name</td><td>Proj ID</td><td>Proj name</td></tr>
<tr><td>3</td>
<td>Προώθηση νέας τεχνολογίας</td>
<td>2</td>
<td>Διαμορφωσεις ASK1024</td>
<tr><td>3</td>
<td>Προώθηση νέας τεχνολογίας</td>
<td>11</td>
<td>Καταλύτης 99</td>
<tr><td>3</td>
<td>Προώθηση νέας τεχνολογίας</td>
<td>56</td>
<td>Κατασκευή ιπτάμενων αυτοκινήτων</td>
<tr><td>6</td>
<td>Αειφόρος ανάπτυξη</td>
<td>6</td>
<td>Εξοικονόμηση ενέργειας σε σπίτια</td>
<tr><td>6</td>
<td>Αειφόρος ανάπτυξη</td>
<td>12</td>
<td>Αυτοκίνητο 300</td>
<tr><td>6</td>
<td>Αειφόρος ανάπτυξη</td>
<td>55</td>
<td>Εφεύρεση νέων κραμάτων</td>
<tr><td>6</td>
<td>Αειφόρος ανάπτυξη</td>
<td>57</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<tr><td>7</td>
<td>Καινοτομία</td>
<td>3</td>
<td>Γλωσσα προγραμματισμου D++</td>
<tr><td>7</td>
<td>Καινοτομία</td>
<td>10</td>
<td>Εξελιγμένη κρυπτογραφία</td>
<tr><td>7</td>
<td>Καινοτομία</td>
<td>14</td>
<td>Έρευνα σε ρομπότ</td>
<tr><td>7</td>
<td>Καινοτομία</td>
<td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<tr><td>7</td>
<td>Καινοτομία</td>
<td>54</td>
<td>Οικονομική εξόρυξη σιδήρου στη Μακεδονία</td>
<tr><td>8</td>
<td>Πράσινη σκέψη</td>
<td>4</td>
<td>Αποδοτικές ανεμογεννήτριες</td>
<tr><td>8</td>
<td>Πράσινη σκέψη</td>
<td>17</td>
<td>Εντομοφαγία</td>
<tr><td>8</td>
<td>Πράσινη σκέψη</td>
<td>53</td>
<td>Ανάδειξη Φυσικής Ομορφιάς στο Κιλκίς</td>
<tr><td>9</td>
<td>Ηλεκτρονικές τεχνολογίες</td>
<td>5</td>
<td>Σμίκρυνση VLSI</td>
<tr><td>9</td>
<td>Ηλεκτρονικές τεχνολογίες</td>
<td>9</td>
<td>Εικονική Πραγματικότητα</td>
<tr><td>9</td>
<td>Ηλεκτρονικές τεχνολογίες</td>
<td>18</td>
<td>Ταξίδι στον Άρη</td>
<tr><td>9</td>
<td>Ηλεκτρονικές τεχνολογίες</td>
<td>52</td>
<td>Χαλυβουργία Υψηλού Επιπέδου</td>
<tr><td>10</td>
<td>Γεωφυσική επένδυση</td>
<td>7</td>
<td>Κλωνοποίηση βακτηρίων</td>
<tr><td>10</td>
<td>Γεωφυσική επένδυση</td>
<td>19</td>
<td>Εξελιγμένη πίσσα</td>
<tr><td>10</td>
<td>Γεωφυσική επένδυση</td>
<td>33</td>
<td>Τηλεμεταφορά</td>
<tr><td>10</td>
<td>Γεωφυσική επένδυση</td>
<td>51</td>
<td>Διαδίκτυο πραγμάτων</td>
<tr><td>12</td>
<td>Επιστροφή στις ρίζες</td>
<td>20</td>
<td>Αεροπορική σύνδεση Γης Σελήνης</td>
<tr><td>12</td>
<td>Επιστροφή στις ρίζες</td>
<td>34</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<tr><td>12</td>
<td>Επιστροφή στις ρίζες</td>
<td>50</td>
<td>Ψυγείο με τεχνητή νοημοσύνη</td>
<tr><td>13</td>
<td>Ανασκαφές στη Βόρεια Ελλάδα</td>
<td>8</td>
<td>Γεώτρηση 3 χιλιόμετρα</td>
<tr><td>13</td>
<td>Ανασκαφές στη Βόρεια Ελλάδα</td>
<td>21</td>
<td>Βιωσιμότητα χωματερής στα Λιόσια</td>
<tr><td>13</td>
<td>Ανασκαφές στη Βόρεια Ελλάδα</td>
<td>35</td>
<td>Ανατίναξη βουνών</td>
<tr><td>13</td>
<td>Ανασκαφές στη Βόρεια Ελλάδα</td>
<td>49</td>
<td>Αισθητήρες Κίνησης</td>
<tr><td>18</td>
<td>Πρόγραμμα κοινωνικής πρόνοιας</td>
<td>22</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<tr><td>18</td>
<td>Πρόγραμμα κοινωνικής πρόνοιας</td>
<td>36</td>
<td>Εναέριοι δρόμοι στην Αθήνα</td>
<tr><td>18</td>
<td>Πρόγραμμα κοινωνικής πρόνοιας</td>
<td>48</td>
<td>Πλήρης αναστήλωση Ακρόπολης</td>
<tr><td>19</td>
<td>Πρόγραμμα Διατήρησης Ιστορίας</td>
<td>23</td>
<td>Κοπή διαμαντιού με λέιζερ</td>
<tr><td>19</td>
<td>Πρόγραμμα Διατήρησης Ιστορίας</td>
<td>37</td>
<td>Μετρό Θεσσαλονίκης</td>
<tr><td>19</td>
<td>Πρόγραμμα Διατήρησης Ιστορίας</td>
<td>47</td>
<td>Ανθρωπιστικότερη παιδεία</td>
<tr><td>20</td>
<td>Πρόγραμμα Αποδοτικής Ανάπτυξης</td>
<td>24</td>
<td>Ταξίδι στο κέντρο της Γης</td>
<tr><td>20</td>
<td>Πρόγραμμα Αποδοτικής Ανάπτυξης</td>
<td>46</td>
<td>Διαδίκτυο</td>
<tr><td>20</td>
<td>Πρόγραμμα Αποδοτικής Ανάπτυξης</td>
<td>58</td>
<td>Ένα ακόμα</td>
<tr><td>21</td>
<td>Πρόγραμμα Ενίσχυσης Τάσεων Αυτοματισμού</td>
<td>45</td>
<td>Νέο πρωτότυπο έργο</td>
<tr><td>22</td>
<td>Ευρωπαικό πρόγραμμα καλλιτεχνίας</td>
<td>44</td>
<td>Επιχορήγηση κάτι</td>
<tr><td>23</td>
<td>Χορηγία Εθνικού Θεάτρου</td>
<td>43</td>
<td>Τυχαίο έργο</td>
<tr><td>24</td>
<td>Φιλική τεχνολογία</td>
<td>42</td>
<td>Νοητικός έλεγχος αντικειμένων</td>
<tr><td>25</td>
<td>Πρόγραμμα Εξάπλωσης Επικοινωνίας</td>
<td>41</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<tr><td>26</td>
<td>Βραβείο στις νέες καινοτομίες</td>
<td>40</td>
<td>Κοραλιογενής Ύφαλος στον Πειραιά</td>
<tr><td>27</td>
<td>Διαγωνισμός για πράσινες προτάσεις</td>
<td>39</td>
<td>Νέα Παιδαγωγική</td>
<tr><td>28</td>
<td>Πρόγραμμα φυσικών πόρων</td>
<td>32</td>
<td>Διαστημική Διασύνδεση Αθήνα-Λαμία</td>
<tr><td>28</td>
<td>Πρόγραμμα φυσικών πόρων</td>
<td>38</td>
<td>Ουρανοξύστης στη Λαμία</td>
<tr><td>29</td>
<td>Επένδυση στις ανανεώσιμες</td>
<td>31</td>
<td>Φαγητό από πλαστικό</td>
<tr><td>30</td>
<td>Ηλεκτρονική Επανάστηση</td>
<td>30</td>
<td>Φυσικός υπολογιστής</td>
<tr><td>31</td>
<td>Τεχνολογική Επανάσταση</td>
<td>29</td>
<td>Τεχνητό συκώτι</td>
<tr><td>32</td>
<td>Πράσινη προώθηση</td>
<td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<tr><td>32</td>
<td>Πράσινη προώθηση</td>
<td>28</td>
<td>Πολύχρωμοι φακοί επαφής</td>
<tr><td>33</td>
<td>Παιδεία για όλους</td>
<td>27</td>
<td>Αυτόματα πυροσβεστικά ελικόπτερα</td>
<tr><td>34</td>
<td>Μουσικοτεχνολογία</td>
<td>25</td>
<td>Πυρηνικός σταθμός</td>
</table><button><a href='landing'>Back to landing</a></button></body></html>