<!DOCTYPE html>
<html>
<head>
 <title>Financing delete</title>
</head>
<body>

<form action="/financing_delete" method="POST" onsubmit="return confirm('Are you sure?');">
<h4>Delete financing:</h4>

<p>
	Financing:<SELECT name="id">
	{% for j in financing_list %}
		<OPTION value={{j[0]}}>{{j[0]}} {{j[1]}} {{j[2]}} {{j[3]}}</OPTION>
	{% endfor %}
	</SELECT>
</p>

<p><input type="submit" value="Submit" /></p>
<button><a href="landing">Back to landing</a></button>

</form>
</body>
</html>