<!DOCTYPE html>
<html>
<head>
 <title>Grading delete</title>
</head>
<body>

<form action="/grading_delete" method="POST" onsubmit="return confirm('Are you sure?');">
<h4>Delete grading:</h4>

<p>
	Grading:<SELECT name="id">
	{% for j in grading_list %}
		<OPTION value={{j[0]}}>{{j[0]}} {{j[1]}} {{j[2]}} {{j[3]}} {{j[4]}} {{j[5]}} {{j[6]}}</OPTION>
	{% endfor %}
	</SELECT>
</p>

<p><input type="submit" value="Submit" /></p>
<button><a href="landing">Back to landing</a></button>

</form>
</body>
</html>