<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show organisation_phones</title></head><body>
<table><tr><td>Org ID</td><td>Org name</td><td>Telephone</td></tr>
<tr><td>1</td>
<td>Εθνικό Μετσόβιο Πολυτεχνείο</td>
<td>5919562095</td>
<tr><td>1</td>
<td>Εθνικό Μετσόβιο Πολυτεχνείο</td>
<td>6493008199</td>
<tr><td>1</td>
<td>Εθνικό Μετσόβιο Πολυτεχνείο</td>
<td>9146467528</td>
<tr><td>2</td>
<td>Καποδιστριακό</td>
<td>4489556724</td>
<tr><td>2</td>
<td>Καποδιστριακό</td>
<td>9763235962</td>
<tr><td>3</td>
<td>Πανεπιστήμιο Θεσσαλίας</td>
<td>2664719187</td>
<tr><td>3</td>
<td>Πανεπιστήμιο Θεσσαλίας</td>
<td>4271377555</td>
<tr><td>3</td>
<td>Πανεπιστήμιο Θεσσαλίας</td>
<td>8563708332</td>
<tr><td>4</td>
<td>Ινστιτόυτο έρευνας καινοτομίας</td>
<td>4507203666</td>
<tr><td>4</td>
<td>Ινστιτόυτο έρευνας καινοτομίας</td>
<td>8099442029</td>
<tr><td>4</td>
<td>Ινστιτόυτο έρευνας καινοτομίας</td>
<td>8749343167</td>
<tr><td>4</td>
<td>Ινστιτόυτο έρευνας καινοτομίας</td>
<td>8749343432</td>
<tr><td>5</td>
<td>Τεχνολογικό κέντρο αιχμής</td>
<td>4513911897</td>
<tr><td>5</td>
<td>Τεχνολογικό κέντρο αιχμής</td>
<td>5536865701</td>
<tr><td>6</td>
<td>Βιοεργαστήρια Βιοιατρικής</td>
<td>6513745945</td>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>8749343123</td>
</table><button><a href='landing'>Back to landing</a></button></body></html>