<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show organisations</title></head><body>
<table><tr><td>ID</td><td>Name</td><td>Short name</td><td>City</td><td>Postal code</td><td>Street</td><td>Category</td></tr>
<tr><td>16</td>
<td>Πτήση του Ίκαρου</td>
<td>ΠΤΙ</td>
<td>Κνωσός</td>
<td>18211</td>
<td>Δαίδαλου</td>
<td>Ερευνητικό Κέντρο</td></tr>
<tr><td>20</td>
<td>Δαιδαλώδεις Σχεδιαστές</td>
<td>ΔΣ</td>
<td>Φαιστός</td>
<td>16711</td>
<td>Λαβυρίνθου</td>
<td>Ερευνητικό Κέντρο</td></tr>
<tr><td>23</td>
<td>Καθρέφτης του Αρχιμήδη</td>
<td>ΚΤΑ</td>
<td>Ηγουμενίτσα</td>
<td>90871</td>
<td>Αριστοτέλους</td>
<td>Ερευνητικό Κέντρο</td></tr>
<tr><td>26</td>
<td>Σπουδαίοι Ερευνητές</td>
<td>ΣΕ</td>
<td>Χαλκιδική</td>
<td>19563</td>
<td>Φιλελλήνων</td>
<td>Ερευνητικό Κέντρο</td></tr>
<tr><td>7</td>
<td>Επιστημονικό κέντρο Κανελόπουλου</td>
<td>ΕΚΚ</td>
<td>Ιωάννινα</td>
<td>34992</td>
<td>Καραθεοδωρή</td>
<td>Ερευνητικό Κέντρο</td></tr>
<tr><td>6</td>
<td>Βιοεργαστήρια Βιοιατρικής</td>
<td>ΒΒ</td>
<td>Φλώρινα</td>
<td>12781</td>
<td>Καποδίστρια</td>
<td>Ερευνητικό Κέντρο</td></tr>
<tr><td>5</td>
<td>Τεχνολογικό κέντρο αιχμής</td>
<td>ΤΕΚΑ</td>
<td>Ξάνθη</td>
<td>4589</td>
<td>Θεμιστοκλέους</td>
<td>Ερευνητικό Κέντρο</td></tr>
<tr><td>29</td>
<td>Σύνδεσμος Ελλήνων Μαθηματικών</td>
<td>ΣΕΜ</td>
<td>Περιστέρι</td>
<td>45923</td>
<td>Παπάγου</td>
<td>Ερευνητικό Κέντρο</td></tr>
<tr><td>4</td>
<td>Ινστιτόυτο έρευνας καινοτομίας</td>
<td>ΙΕΚ</td>
<td>Μαλακάσα</td>
<td>46573</td>
<td>Ναυτών</td>
<td>Ερευνητικό Κέντρο</td></tr>
<tr><td>19</td>
<td>Αλεπουδάκης και Σία</td>
<td>ΑΣ</td>
<td>Σπάρτη</td>
<td>48729</td>
<td>Λεωνίδα</td>
<td>Εταιρία</td></tr>
<tr><td>28</td>
<td>Χημική Εταιρία</td>
<td>ΧΕ</td>
<td>Ορεστιάδα</td>
<td>8213</td>
<td>Ορφέα</td>
<td>Εταιρία</td></tr>
<tr><td>17</td>
<td>Φιλοπάππος και Υιοί</td>
<td>ΦΥ</td>
<td>Καβάλα</td>
<td>81893</td>
<td>Καπνικαρέας</td>
<td>Εταιρία</td></tr>
<tr><td>24</td>
<td>Διεθνή γεωτρύπανα ΕΕ</td>
<td>ΔΓ</td>
<td>Ξάνθη</td>
<td>34111</td>
<td>Πλαστήρα</td>
<td>Εταιρία</td></tr>
<tr><td>15</td>
<td>Αφοί Αλεξανδρή</td>
<td>ΑΑ</td>
<td>Άγιος Νικόλας</td>
<td>54893</td>
<td>Βενιζέλου</td>
<td>Εταιρία</td></tr>
<tr><td>25</td>
<td>Τσαγκαράδικο του Μητσάρα</td>
<td>ΤΜ</td>
<td>Φάληρο</td>
<td>71211</td>
<td>Μπότσαρη</td>
<td>Εταιρία</td></tr>
<tr><td>13</td>
<td>Ορυκτά Καύσιμα ΑΕ</td>
<td>ΟΚ</td>
<td>Ρέθυμνο</td>
<td>78787</td>
<td>Ηράκλειτου</td>
<td>Εταιρία</td></tr>
<tr><td>9</td>
<td>Χαλυβουργική Κιλκίς ΕΕ</td>
<td>ΧΚ</td>
<td>Κιλκίς</td>
<td>37821</td>
<td>Κολοκοτρώνη</td>
<td>Εταιρία</td></tr>
<tr><td>8</td>
<td>Εταιρία Όνομα ΟΕ</td>
<td>ΕΟ</td>
<td>Δράμα</td>
<td>48329</td>
<td>Μαυρογένους</td>
<td>Εταιρία</td></tr>
<tr><td>22</td>
<td>Οβελιστήριο Θεός της Πείνας</td>
<td>ΟΘΠ</td>
<td>Στυξ</td>
<td>66642</td>
<td>Κόλασης</td>
<td>Εταιρία</td></tr>
<tr><td>27</td>
<td>Πανεπιστήμιο Εύβοιας</td>
<td>ΠΕ</td>
<td>Χαλκίδα</td>
<td>54892</td>
<td>Αρχαίου Θεάτρου</td>
<td>Πανεπιστήμιο</td></tr>
<tr><td>21</td>
<td>Φιλολογικό Πανεπιστήμιο</td>
<td>ΦΦ</td>
<td>Όλυμπος</td>
<td>98765</td>
<td>Φιλοσόφων</td>
<td>Πανεπιστήμιο</td></tr>
<tr><td>18</td>
<td>Οικονομικό Πανεπιστήμιο</td>
<td>ΟΠ</td>
<td>Αργοστόλι</td>
<td>68953</td>
<td>Νησιωτών</td>
<td>Πανεπιστήμιο</td></tr>
<tr><td>1</td>
<td>Εθνικό Μετσόβιο Πολυτεχνείο</td>
<td>ΕΜΠ</td>
<td>Αθήνα</td>
<td>1234</td>
<td>Ηρώων Πολυτεχνείου</td>
<td>Πανεπιστήμιο</td></tr>
<tr><td>14</td>
<td>Πανεπιστήμιο Πειραιά</td>
<td>ΠΑΠΕΙ</td>
<td>Πειραιάς</td>
<td>14853</td>
<td>Σοφοκλέους</td>
<td>Πανεπιστήμιο</td></tr>
<tr><td>11</td>
<td>Ανοιχτό Πανεπιστήμιο</td>
<td>ΑΠ</td>
<td>Κάπου</td>
<td>11230</td>
<td>Φ. Δέδε</td>
<td>Πανεπιστήμιο</td></tr>
<tr><td>10</td>
<td>Πανεπιστήμιο Στερεάς Ελλάδας</td>
<td>ΠΣΕ</td>
<td>Λαμία</td>
<td>12783</td>
<td>Ελευθερίας</td>
<td>Πανεπιστήμιο</td></tr>
<tr><td>3</td>
<td>Πανεπιστήμιο Θεσσαλίας</td>
<td>ΠΑΘΕ</td>
<td>Βόλος</td>
<td>47873</td>
<td>Αργοναυτών</td>
<td>Πανεπιστήμιο</td></tr>
<tr><td>2</td>
<td>Καποδιστριακό</td>
<td>ΕΚΠΑ</td>
<td>Αθήνα</td>
<td>5678</td>
<td>Ιπποκράτους</td>
<td>Πανεπιστήμιο</td></tr>
<tr><td>30</td>
<td>Διεθνές Πανεπιστήμιο</td>
<td>ΔΠ</td>
<td>Παντού</td>
<td>12094</td>
<td>Πλάτωνα</td>
<td>Πανεπιστήμιο</td></tr>
</table><button><a href='landing'>Back to landing</a></button></body></html>