<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show programs</title></head><body>
<table><tr><td>ID</td><td>Name</td><td>Address</td></tr>
<tr><td>12</td>
<td>Επιστροφή στις ρίζες</td>
<td>Διεύθυνση Αρχαιολογίας</td></tr>
<tr><td>13</td>
<td>Ανασκαφές στη Βόρεια Ελλάδα</td>
<td>Διεύθυνση Αρχαιολογίας</td></tr>
<tr><td>19</td>
<td>Πρόγραμμα Διατήρησης Ιστορίας</td>
<td>Διεύθυνση Αρχαιολογίας</td></tr>
<tr><td>6</td>
<td>Αειφόρος ανάπτυξη</td>
<td>Διεύθυνση Βιωσιμότητας</td></tr>
<tr><td>8</td>
<td>Πράσινη σκέψη</td>
<td>Διεύθυνση Βιωσιμότητας</td></tr>
<tr><td>7</td>
<td>Καινοτομία</td>
<td>Διεύθυνση Έρευνας</td></tr>
<tr><td>9</td>
<td>Ηλεκτρονικές τεχνολογίες</td>
<td>Διεύθυνση Ηλεκτρονικών</td></tr>
<tr><td>21</td>
<td>Πρόγραμμα Ενίσχυσης Τάσεων Αυτοματισμού</td>
<td>Διεύθυνση Ηλεκτρονικών</td></tr>
<tr><td>29</td>
<td>Επένδυση στις ανανεώσιμες</td>
<td>Διεύθυνση Ηλεκτρονικών</td></tr>
<tr><td>30</td>
<td>Ηλεκτρονική Επανάστηση</td>
<td>Διεύθυνση Ηλεκτρονικών</td></tr>
<tr><td>18</td>
<td>Πρόγραμμα κοινωνικής πρόνοιας</td>
<td>Διεύθυνση Κοινωνίας</td></tr>
<tr><td>25</td>
<td>Πρόγραμμα Εξάπλωσης Επικοινωνίας</td>
<td>Διεύθυνση Κοινωνίας</td></tr>
<tr><td>33</td>
<td>Παιδεία για όλους</td>
<td>Διεύθυνση Κοινωνίας</td></tr>
<tr><td>20</td>
<td>Πρόγραμμα Αποδοτικής Ανάπτυξης</td>
<td>Διεύθυνση Οικονομίας</td></tr>
<tr><td>10</td>
<td>Γεωφυσική επένδυση</td>
<td>Διεύθυνση Περιβάλλοντος</td></tr>
<tr><td>27</td>
<td>Διαγωνισμός για πράσινες προτάσεις</td>
<td>Διεύθυνση Περιβάλλοντος</td></tr>
<tr><td>28</td>
<td>Πρόγραμμα φυσικών πόρων</td>
<td>Διεύθυνση Περιβάλλοντος</td></tr>
<tr><td>32</td>
<td>Πράσινη προώθηση</td>
<td>Διεύθυνση Περιβάλλοντος</td></tr>
<tr><td>3</td>
<td>Προώθηση νέας τεχνολογίας</td>
<td>Διεύθυνση Τεχνολογίας</td></tr>
<tr><td>24</td>
<td>Φιλική τεχνολογία</td>
<td>Διεύθυνση Τεχνολογίας</td></tr>
<tr><td>26</td>
<td>Βραβείο στις νέες καινοτομίες</td>
<td>Διεύθυνση Τεχνολογίας</td></tr>
<tr><td>31</td>
<td>Τεχνολογική Επανάσταση</td>
<td>Διεύθυνση Τεχνολογίας</td></tr>
<tr><td>22</td>
<td>Ευρωπαικό πρόγραμμα καλλιτεχνίας</td>
<td>Διεύθυνση Τεχνών</td></tr>
<tr><td>23</td>
<td>Χορηγία Εθνικού Θεάτρου</td>
<td>Διεύθυνση Τεχνών</td></tr>
<tr><td>34</td>
<td>Μουσικοτεχνολογία</td>
<td>Διεύθυνση Τεχνών</td></tr>
</table><button><a href='landing'>Back to landing</a></button></body></html>