<!DOCTYPE html>
<html>
<head>
 <title>Project field</title>
</head>
<body>

<form action="/project_field_insert" method="POST">
<h4>Which are the scientific fields of the project?</h4>

<p>
	Project:<SELECT name="project_id">
	{% for j in project_list %}
		<OPTION value={{j[0]}}>{{j[0]}} {{j[1]}}</OPTION>
	{% endfor %}
	</SELECT>
</p>

<p>
	Field:<SELECT name="field_name">
	{% for j in field_list %}
		<OPTION value={{j[0]}}>{{j[0]}}</OPTION>
	{% endfor %}
	</SELECT>
</p>

<p><input type="submit" value="Submit" /></p>
<button><a href="landing">Back to landing</a></button>

</form>
</body>
</html>