<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show projects</title></head><body>
<table><tr><td>ID</td><td>Title</td><td>Information</td><td>Start</td><td>End</td><td>Budget</td></tr>
<tr><td>2</td>
<td>Διαμορφωσεις ASK1024</td>
<td>κι αλλο μπλα μπλα</td>
<td>2020-02-15</td>
<td>2023-10-17</td>
<td>205000</td></tr>
<tr><td>3</td>
<td>Γλωσσα προγραμματισμου D++</td>
<td>περισσοτερο μπλα μπλα</td>
<td>2024-02-15</td>
<td>2026-10-17</td>
<td>300000</td></tr>
<tr><td>4</td>
<td>Αποδοτικές ανεμογεννήτριες</td>
<td>σδφξξφδκξδ</td>
<td>2024-02-15</td>
<td>2026-06-04</td>
<td>310000</td></tr>
<tr><td>5</td>
<td>Σμίκρυνση VLSI</td>
<td>ασδσφ</td>
<td>2024-02-15</td>
<td>2027-01-21</td>
<td>410600</td></tr>
<tr><td>6</td>
<td>Εξοικονόμηση ενέργειας σε σπίτια</td>
<td>Γενική διαμόρφωση κτιρίων, αποδοτικότητα</td>
<td>2002-12-23</td>
<td>2004-03-11</td>
<td>210600</td></tr>
<tr><td>7</td>
<td>Κλωνοποίηση βακτηρίων</td>
<td>Διπλασιασμός ενός βακτηρίου</td>
<td>2000-03-05</td>
<td>2002-11-11</td>
<td>244700</td></tr>
<tr><td>8</td>
<td>Γεώτρηση 3 χιλιόμετρα</td>
<td>Νέες τεχνικές γεώτρησης</td>
<td>1999-03-22</td>
<td>2001-10-20</td>
<td>271830</td></tr>
<tr><td>9</td>
<td>Εικονική Πραγματικότητα</td>
<td>Ψεύτικα πράγματα που φαίνονται αληθινά</td>
<td>2021-07-16</td>
<td>2024-01-30</td>
<td>751800</td></tr>
<tr><td>10</td>
<td>Εξελιγμένη κρυπτογραφία</td>
<td>Εφαρμογή μεθόδων προστασίας δεδομένων</td>
<td>2020-11-07</td>
<td>2023-02-03</td>
<td>173910</td></tr>
<tr><td>11</td>
<td>Καταλύτης 99</td>
<td>Νέος καταλύτης με μείωση εκπομπής καυσαερίων 99%</td>
<td>2022-12-23</td>
<td>2025-09-12</td>
<td>987000</td></tr>
<tr><td>12</td>
<td>Αυτοκίνητο 300</td>
<td>Αυτοκίνητο που θα τρέχει με 300χλμ/ώρα</td>
<td>2020-02-20</td>
<td>2023-08-11</td>
<td>760000</td></tr>
<tr><td>14</td>
<td>Έρευνα σε ρομπότ</td>
<td>Σήματα και χειρισμός ρομπότ</td>
<td>2019-02-15</td>
<td>2022-10-17</td>
<td>150000</td></tr>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>Θα τον βρούμε κάποια στιγμή, που θα παέι</td>
<td>2020-06-01</td>
<td>2023-12-15</td>
<td>350000</td></tr>
<tr><td>17</td>
<td>Εντομοφαγία</td>
<td>Μελέτη και επιπτώσεις που έχει στην υγεία</td>
<td>2020-02-15</td>
<td>2022-11-17</td>
<td>174000</td></tr>
<tr><td>18</td>
<td>Ταξίδι στον Άρη</td>
<td>Έρευνα για ταξίδι</td>
<td>2023-04-25</td>
<td>2025-09-17</td>
<td>706700</td></tr>
<tr><td>19</td>
<td>Εξελιγμένη πίσσα</td>
<td>Θα χρησιμοποιηθεί στην άσφαλτο</td>
<td>2021-08-17</td>
<td>2023-01-27</td>
<td>999000</td></tr>
<tr><td>20</td>
<td>Αεροπορική σύνδεση Γης Σελήνης</td>
<td>Πετάμε στο φεγγάρι</td>
<td>2030-07-13</td>
<td>2033-12-12</td>
<td>987000</td></tr>
<tr><td>21</td>
<td>Βιωσιμότητα χωματερής στα Λιόσια</td>
<td>Καλά δεν θα γίνει ποτέ αυτό</td>
<td>2050-01-01</td>
<td>2052-12-31</td>
<td>500000</td></tr>
<tr><td>22</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<td>Κολύμπι</td>
<td>2020-02-15</td>
<td>2023-10-17</td>
<td>850000</td></tr>
<tr><td>23</td>
<td>Κοπή διαμαντιού με λέιζερ</td>
<td>Προσέχτε, κόβει πολυ</td>
<td>2021-03-23</td>
<td>2023-11-05</td>
<td>642300</td></tr>
<tr><td>24</td>
<td>Ταξίδι στο κέντρο της Γης</td>
<td>Σκάβουμε αρκετά</td>
<td>2018-11-15</td>
<td>2022-07-27</td>
<td>345678</td></tr>
<tr><td>25</td>
<td>Πυρηνικός σταθμός</td>
<td>Μελέτη ώστε να μην κινδινεύει από σεισμούς</td>
<td>2021-08-05</td>
<td>2023-09-18</td>
<td>732000</td></tr>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>Το μέλλον των δέντρων είναι τώρα</td>
<td>2021-09-20</td>
<td>2023-08-19</td>
<td>342000</td></tr>
<tr><td>27</td>
<td>Αυτόματα πυροσβεστικά ελικόπτερα</td>
<td>Άμεση ανταπόκριση σε ανάγκη</td>
<td>2023-10-10</td>
<td>2025-02-19</td>
<td>832230</td></tr>
<tr><td>28</td>
<td>Πολύχρωμοι φακοί επαφής</td>
<td>Αλλάζουν το χρώμα των ματιών</td>
<td>2020-11-24</td>
<td>2023-01-07</td>
<td>832564</td></tr>
<tr><td>29</td>
<td>Τεχνητό συκώτι</td>
<td>Τώρα μπορείς να πίνεις όσο θες</td>
<td>2020-07-06</td>
<td>2022-10-16</td>
<td>328000</td></tr>
<tr><td>30</td>
<td>Φυσικός υπολογιστής</td>
<td>Υπολογιστής φτιαγμένος μόνο από φυσικά υλικά</td>
<td>2020-03-15</td>
<td>2023-12-18</td>
<td>378921</td></tr>
<tr><td>31</td>
<td>Φαγητό από πλαστικό</td>
<td>Θρεπτικές τροφές φτιαγμένες από ανακυκλώσιμο πλαστικό</td>
<td>2019-04-25</td>
<td>2022-12-17</td>
<td>378124</td></tr>
<tr><td>32</td>
<td>Διαστημική Διασύνδεση Αθήνα-Λαμία</td>
<td>Χωρίς διόδια</td>
<td>2021-07-17</td>
<td>2023-02-08</td>
<td>842000</td></tr>
<tr><td>33</td>
<td>Τηλεμεταφορά</td>
<td>Εφαφάνιση και επανεμφάνιση</td>
<td>2022-03-15</td>
<td>2025-04-20</td>
<td>507000</td></tr>
<tr><td>34</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<td>Νέα γη για καλλιέργειες</td>
<td>2020-11-01</td>
<td>2022-12-05</td>
<td>509700</td></tr>
<tr><td>35</td>
<td>Ανατίναξη βουνών</td>
<td>Χρειαζόμαστε κι άλλο χώρο</td>
<td>2022-02-21</td>
<td>2024-07-29</td>
<td>234500</td></tr>
<tr><td>36</td>
<td>Εναέριοι δρόμοι στην Αθήνα</td>
<td>Λιγότερη ηχορύπανση</td>
<td>2020-10-28</td>
<td>2023-01-29</td>
<td>908700</td></tr>
<tr><td>37</td>
<td>Μετρό Θεσσαλονίκης</td>
<td>Δεν θα γίνε ποτέ</td>
<td>2040-03-15</td>
<td>2043-12-18</td>
<td>123456</td></tr>
<tr><td>38</td>
<td>Ουρανοξύστης στη Λαμία</td>
<td>Πρέπει να χει ωραία θέα</td>
<td>2020-04-01</td>
<td>2023-07-19</td>
<td>450000</td></tr>
<tr><td>39</td>
<td>Νέα Παιδαγωγική</td>
<td>Μέθοδοι για να μαθαίνουν τα παιδάκια</td>
<td>2019-05-11</td>
<td>2022-08-29</td>
<td>150000</td></tr>
<tr><td>40</td>
<td>Κοραλιογενής Ύφαλος στον Πειραιά</td>
<td>Τόνωση του φυσικού περιβάλλοντος</td>
<td>2021-08-24</td>
<td>2023-09-07</td>
<td>785400</td></tr>
<tr><td>41</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<td>Ύδρευση Αττικής</td>
<td>1960-04-01</td>
<td>1963-07-19</td>
<td>612000</td></tr>
<tr><td>42</td>
<td>Νοητικός έλεγχος αντικειμένων</td>
<td>Τηλεκίνηση</td>
<td>2022-04-01</td>
<td>2025-03-25</td>
<td>895000</td></tr>
<tr><td>43</td>
<td>Τυχαίο έργο</td>
<td>Δεν έχω ιδέες</td>
<td>2021-11-30</td>
<td>2023-06-13</td>
<td>595000</td></tr>
<tr><td>44</td>
<td>Επιχορήγηση κάτι</td>
<td>Τυχαία περίληψη</td>
<td>2021-10-01</td>
<td>2024-01-28</td>
<td>175000</td></tr>
<tr><td>45</td>
<td>Νέο πρωτότυπο έργο</td>
<td>Κανούρια ιδέα</td>
<td>2021-12-03</td>
<td>2023-07-17</td>
<td>629000</td></tr>
<tr><td>46</td>
<td>Διαδίκτυο</td>
<td>Σύνδεση πολλών υπολογιστών</td>
<td>1980-04-01</td>
<td>1983-06-10</td>
<td>995000</td></tr>
<tr><td>47</td>
<td>Ανθρωπιστικότερη παιδεία</td>
<td>Πνοή στην εκπαίδευση</td>
<td>2020-04-01</td>
<td>2023-08-09</td>
<td>444000</td></tr>
<tr><td>48</td>
<td>Πλήρης αναστήλωση Ακρόπολης</td>
<td>Θυμόμαστε τα παλιά</td>
<td>2019-03-20</td>
<td>2022-12-01</td>
<td>987000</td></tr>
<tr><td>49</td>
<td>Αισθητήρες Κίνησης</td>
<td>Σύγχρονα συστήματα ελεγκτών</td>
<td>2021-05-20</td>
<td>2023-01-21</td>
<td>786000</td></tr>
<tr><td>50</td>
<td>Ψυγείο με τεχνητή νοημοσύνη</td>
<td>Αυτοματοποίηση παντού</td>
<td>2019-12-01</td>
<td>2022-07-29</td>
<td>654000</td></tr>
<tr><td>51</td>
<td>Διαδίκτυο πραγμάτων</td>
<td>Σύνδεση των πάντων με τα πάντα</td>
<td>2020-03-01</td>
<td>2022-10-09</td>
<td>123987</td></tr>
<tr><td>52</td>
<td>Χαλυβουργία Υψηλού Επιπέδου</td>
<td>Μιλάμε για χάλυβα, όχι αστεία</td>
<td>2019-05-23</td>
<td>2022-08-20</td>
<td>800780</td></tr>
<tr><td>53</td>
<td>Ανάδειξη Φυσικής Ομορφιάς στο Κιλκίς</td>
<td>Πολύ όμορφο μέρος</td>
<td>2019-11-02</td>
<td>2022-01-21</td>
<td>150000</td></tr>
<tr><td>54</td>
<td>Οικονομική εξόρυξη σιδήρου στη Μακεδονία</td>
<td>Έχει πράμα εκεί πέρα</td>
<td>2019-03-30</td>
<td>2022-10-20</td>
<td>900789</td></tr>
<tr><td>55</td>
<td>Εφεύρεση νέων κραμάτων</td>
<td>Πειραματισμός σε υψικαμίνους</td>
<td>2019-03-27</td>
<td>2023-01-19</td>
<td>867000</td></tr>
<tr><td>56</td>
<td>Κατασκευή ιπτάμενων αυτοκινήτων</td>
<td>Προσοχή μην τρακάρουν με αεροπλάνα</td>
<td>2019-08-12</td>
<td>2023-02-21</td>
<td>450000</td></tr>
<tr><td>57</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<td>Και λεπτοί, και ανθεκτικοί</td>
<td>2019-12-07</td>
<td>2022-06-12</td>
<td>309000</td></tr>
<tr><td>58</td>
<td>Ένα ακόμα</td>
<td>Ό,τι να είναι</td>
<td>2019-12-12</td>
<td>2022-11-23</td>
<td>123456</td></tr>
</table><button><a href='landing'>Back to landing</a></button></body></html>