<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show supervisions</title></head><body>
<table><tr><td>Proj ID</td><td>Proj title</td><td>Res ID</td><td>Res name</td><td>Res surname</td></tr>
<tr><td>10</td>
<td>Εξελιγμένη κρυπτογραφία</td>
<td>1</td>
<td>Μιχάλης</td>
<td>Ηλιόπουλος</td>
<tr><td>20</td>
<td>Αεροπορική σύνδεση Γης Σελήνης</td>
<td>3</td>
<td>Ανθή</td>
<td>Γκίκα</td>
<tr><td>22</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<td>4</td>
<td>Μαρία</td>
<td>Καραμήτρου</td>
<tr><td>21</td>
<td>Βιωσιμότητα χωματερής στα Λιόσια</td>
<td>17</td>
<td>Γιώτα</td>
<td>Παπανδρέου</td>
<tr><td>2</td>
<td>Διαμορφωσεις ASK1024</td>
<td>22</td>
<td>Παρασκευή</td>
<td>Μπασδουκέα</td>
<tr><td>4</td>
<td>Αποδοτικές ανεμογεννήτριες</td>
<td>40</td>
<td>Γιώργος</td>
<td>Δάντης</td>
<tr><td>43</td>
<td>Τυχαίο έργο</td>
<td>76</td>
<td>Γιάννης</td>
<td>Μεράκης</td>
<tr><td>47</td>
<td>Ανθρωπιστικότερη παιδεία</td>
<td>77</td>
<td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<tr><td>48</td>
<td>Πλήρης αναστήλωση Ακρόπολης</td>
<td>78</td>
<td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<tr><td>50</td>
<td>Ψυγείο με τεχνητή νοημοσύνη</td>
<td>79</td>
<td>Αντωνία</td>
<td>Καβαλούρη</td>
<tr><td>51</td>
<td>Διαδίκτυο πραγμάτων</td>
<td>80</td>
<td>Αντριάννα</td>
<td>Κουλούρης</td>
<tr><td>53</td>
<td>Ανάδειξη Φυσικής Ομορφιάς στο Κιλκίς</td>
<td>82</td>
<td>Βλάσης</td>
<td>Μοσχόπουλος</td>
<tr><td>54</td>
<td>Οικονομική εξόρυξη σιδήρου στη Μακεδονία</td>
<td>83</td>
<td>Άννα</td>
<td>Πουλοπούλου</td>
<tr><td>55</td>
<td>Εφεύρεση νέων κραμάτων</td>
<td>91</td>
<td>Αριάδνη</td>
<td>Γρηγορίου</td>
<tr><td>56</td>
<td>Κατασκευή ιπτάμενων αυτοκινήτων</td>
<td>96</td>
<td>Γιώργος</td>
<td>Δενδρινός</td>
</table><button><a href='landing'>Back to landing</a></button></body></html>