<!DOCTYPE html>
<html>
<head>
 <title>Project researcher delete</title>
</head>
<body>

<form action="/works_on_proj_delete" method="POST" onsubmit="return confirm('Are you sure?');">
<h4>Remove researcher from project:</h4>
<p>Select the same option in both lists, otherwise errors may occur!</p>
<p>
	Choose:<SELECT name="project_id">
	{% for j in works_on_proj_list %}
		<OPTION value={{j[0]}}>{{j[0]}} {{j[1]}} {{j[2]}} {{j[3]}} {{j[4]}}</OPTION>
	{% endfor %}
	</SELECT>
</p>
<p>
	Choose:<SELECT name="researcher_id">
	{% for j in works_on_proj_list %}
		<OPTION value={{j[2]}}>{{j[0]}} {{j[1]}} {{j[2]}} {{j[3]}} {{j[4]}}</OPTION>
	{% endfor %}
	</SELECT>
</p>
<!--<p>Project ID of deliverable (it is shown on the
left of the name on the list above):
<input name="id" type="number" required/></p>-->

<p><input type="submit" value="Submit" /></p>
<button><a href="landing">Back to landing</a></button>

</form>
</body>
</html>