<!DOCTYPE html><html><head><style>table, th, td {border: 1px solid black;border-collapse: collapse;}</style><meta charset="UTF-8"><title>Show works_on_projs</title></head><body>
<table><tr><td>Proj ID</td><td>Proj title</td><td>Res ID</td><td>Res name</td><td>Res surname</td></tr>
<tr><td>2</td>
<td>Διαμορφωσεις ASK1024</td>
<td>1</td>
<td>Μιχάλης</td>
<td>Ηλιόπουλος</td>
<tr><td>3</td>
<td>Γλωσσα προγραμματισμου D++</td>
<td>16</td>
<td>Χρήστος</td>
<td>Ψαλλίδας</td>
<tr><td>4</td>
<td>Αποδοτικές ανεμογεννήτριες</td>
<td>16</td>
<td>Χρήστος</td>
<td>Ψαλλίδας</td>
<tr><td>5</td>
<td>Σμίκρυνση VLSI</td>
<td>23</td>
<td>Γεώργιος</td>
<td>Κοντοπάνος</td>
<tr><td>5</td>
<td>Σμίκρυνση VLSI</td>
<td>24</td>
<td>Βρασίδας</td>
<td>Κρεμμυδόπουλος</td>
<tr><td>7</td>
<td>Κλωνοποίηση βακτηρίων</td>
<td>76</td>
<td>Γιάννης</td>
<td>Μεράκης</td>
<tr><td>7</td>
<td>Κλωνοποίηση βακτηρίων</td>
<td>77</td>
<td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<tr><td>7</td>
<td>Κλωνοποίηση βακτηρίων</td>
<td>78</td>
<td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<tr><td>7</td>
<td>Κλωνοποίηση βακτηρίων</td>
<td>79</td>
<td>Αντωνία</td>
<td>Καβαλούρη</td>
<tr><td>7</td>
<td>Κλωνοποίηση βακτηρίων</td>
<td>80</td>
<td>Αντριάννα</td>
<td>Κουλούρης</td>
<tr><td>8</td>
<td>Γεώτρηση 3 χιλιόμετρα</td>
<td>1</td>
<td>Μιχάλης</td>
<td>Ηλιόπουλος</td>
<tr><td>9</td>
<td>Εικονική Πραγματικότητα</td>
<td>24</td>
<td>Βρασίδας</td>
<td>Κρεμμυδόπουλος</td>
<tr><td>14</td>
<td>Έρευνα σε ρομπότ</td>
<td>25</td>
<td>Φώτης</td>
<td>Τριγωνής</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>3</td>
<td>Ανθή</td>
<td>Γκίκα</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>4</td>
<td>Μαρία</td>
<td>Καραμήτρου</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>14</td>
<td>Μελέτης</td>
<td>Χατζηδιακόσιας</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>29</td>
<td>Κώστας</td>
<td>Παπαδόπουλος</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>34</td>
<td>Γιάννης</td>
<td>Λουλάκης</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>37</td>
<td>Αλέξανδρος</td>
<td>Γεωργίου</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>44</td>
<td>Βαγγέλης</td>
<td>Παππάς</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>54</td>
<td>Γιώργος</td>
<td>Παπαλούλος</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>64</td>
<td>Γιάννης</td>
<td>Μάστορας</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>77</td>
<td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>78</td>
<td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>79</td>
<td>Αντωνία</td>
<td>Καβαλούρη</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>80</td>
<td>Αντριάννα</td>
<td>Κουλούρης</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>83</td>
<td>Άννα</td>
<td>Πουλοπούλου</td>
<tr><td>15</td>
<td>Εύρεση τάφου Μ.Αλεξάνδρου</td>
<td>96</td>
<td>Γιώργος</td>
<td>Δενδρινός</td>
<tr><td>17</td>
<td>Εντομοφαγία</td>
<td>3</td>
<td>Ανθή</td>
<td>Γκίκα</td>
<tr><td>17</td>
<td>Εντομοφαγία</td>
<td>4</td>
<td>Μαρία</td>
<td>Καραμήτρου</td>
<tr><td>17</td>
<td>Εντομοφαγία</td>
<td>54</td>
<td>Γιώργος</td>
<td>Παπαλούλος</td>
<tr><td>17</td>
<td>Εντομοφαγία</td>
<td>80</td>
<td>Αντριάννα</td>
<td>Κουλούρης</td>
<tr><td>17</td>
<td>Εντομοφαγία</td>
<td>82</td>
<td>Βλάσης</td>
<td>Μοσχόπουλος</td>
<tr><td>17</td>
<td>Εντομοφαγία</td>
<td>83</td>
<td>Άννα</td>
<td>Πουλοπούλου</td>
<tr><td>17</td>
<td>Εντομοφαγία</td>
<td>91</td>
<td>Αριάδνη</td>
<td>Γρηγορίου</td>
<tr><td>20</td>
<td>Αεροπορική σύνδεση Γης Σελήνης</td>
<td>65</td>
<td>Αλεξάνδρα</td>
<td>Υδραυλικού</td>
<tr><td>21</td>
<td>Βιωσιμότητα χωματερής στα Λιόσια</td>
<td>16</td>
<td>Χρήστος</td>
<td>Ψαλλίδας</td>
<tr><td>22</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<td>14</td>
<td>Μελέτης</td>
<td>Χατζηδιακόσιας</td>
<tr><td>22</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<td>29</td>
<td>Κώστας</td>
<td>Παπαδόπουλος</td>
<tr><td>22</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<td>34</td>
<td>Γιάννης</td>
<td>Λουλάκης</td>
<tr><td>22</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<td>76</td>
<td>Γιάννης</td>
<td>Μεράκης</td>
<tr><td>22</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<td>77</td>
<td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<tr><td>22</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<td>78</td>
<td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<tr><td>22</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<td>79</td>
<td>Αντωνία</td>
<td>Καβαλούρη</td>
<tr><td>22</td>
<td>Υποθαλάσσιος δρόμος Πειραιάς Ρώμη</td>
<td>80</td>
<td>Αντριάννα</td>
<td>Κουλούρης</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>7</td>
<td>Αντώνιος</td>
<td>Οικονόμου</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>32</td>
<td>Μαριγώ</td>
<td>Μαριγοπούλου</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>35</td>
<td>Μαρία</td>
<td>Παπαπέτρου</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>36</td>
<td>Πέτρος</td>
<td>Λούλος</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>41</td>
<td>Μανώλης</td>
<td>Ανδρουλέας</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>43</td>
<td>Υβόννη</td>
<td>Κελευστή</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>47</td>
<td>Ραφαήλ</td>
<td>Γαντάς</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>48</td>
<td>Φώντας</td>
<td>Σκληρός</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>51</td>
<td>Μαρία</td>
<td>Λέκτορα</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>86</td>
<td>Οδυσσέας</td>
<td>Σημηριώτης</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>87</td>
<td>Μιλτιάδης</td>
<td>Στεφανόπουλος</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>88</td>
<td>Ορέστης</td>
<td>Δέδες</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>89</td>
<td>Στυλιανός</td>
<td>Δασκαλάκη</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>90</td>
<td>Σπύρος</td>
<td>Γαλάνης</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>93</td>
<td>Μαρία</td>
<td>Παλαμά</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>97</td>
<td>Μαρία</td>
<td>Βασιλόπουλου</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>99</td>
<td>Μαρία</td>
<td>Βόυρου</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>103</td>
<td>Μαρία</td>
<td>Κουράκη</td>
<tr><td>26</td>
<td>Αναδάσοση με τρανζίστορ</td>
<td>105</td>
<td>Μαρία</td>
<td>Κυπραίου</td>
<tr><td>29</td>
<td>Τεχνητό συκώτι</td>
<td>54</td>
<td>Γιώργος</td>
<td>Παπαλούλος</td>
<tr><td>29</td>
<td>Τεχνητό συκώτι</td>
<td>64</td>
<td>Γιάννης</td>
<td>Μάστορας</td>
<tr><td>29</td>
<td>Τεχνητό συκώτι</td>
<td>65</td>
<td>Αλεξάνδρα</td>
<td>Υδραυλικού</td>
<tr><td>33</td>
<td>Τηλεμεταφορά</td>
<td>54</td>
<td>Γιώργος</td>
<td>Παπαλούλος</td>
<tr><td>34</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<td>37</td>
<td>Αλέξανδρος</td>
<td>Γεωργίου</td>
<tr><td>34</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<td>44</td>
<td>Βαγγέλης</td>
<td>Παππάς</td>
<tr><td>34</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<td>54</td>
<td>Γιώργος</td>
<td>Παπαλούλος</td>
<tr><td>34</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<td>71</td>
<td>Αλεξάνδρα</td>
<td>Μητρολάνου</td>
<tr><td>34</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<td>76</td>
<td>Γιάννης</td>
<td>Μεράκης</td>
<tr><td>34</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<td>77</td>
<td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<tr><td>34</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<td>91</td>
<td>Αριάδνη</td>
<td>Γρηγορίου</td>
<tr><td>34</td>
<td>Γονιμοποίηση άγονων πεδιάδων</td>
<td>96</td>
<td>Γιώργος</td>
<td>Δενδρινός</td>
<tr><td>41</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<td>36</td>
<td>Πέτρος</td>
<td>Λούλος</td>
<tr><td>41</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<td>88</td>
<td>Ορέστης</td>
<td>Δέδες</td>
<tr><td>41</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<td>89</td>
<td>Στυλιανός</td>
<td>Δασκαλάκη</td>
<tr><td>41</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<td>90</td>
<td>Σπύρος</td>
<td>Γαλάνης</td>
<tr><td>41</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<td>93</td>
<td>Μαρία</td>
<td>Παλαμά</td>
<tr><td>41</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<td>97</td>
<td>Μαρία</td>
<td>Βασιλόπουλου</td>
<tr><td>41</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<td>99</td>
<td>Μαρία</td>
<td>Βόυρου</td>
<tr><td>41</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<td>103</td>
<td>Μαρία</td>
<td>Κουράκη</td>
<tr><td>41</td>
<td>Τεχνητή Λίμνη Μόρνου</td>
<td>105</td>
<td>Μαρία</td>
<td>Κυπραίου</td>
<tr><td>44</td>
<td>Επιχορήγηση κάτι</td>
<td>36</td>
<td>Πέτρος</td>
<td>Λούλος</td>
<tr><td>44</td>
<td>Επιχορήγηση κάτι</td>
<td>48</td>
<td>Φώντας</td>
<td>Σκληρός</td>
<tr><td>44</td>
<td>Επιχορήγηση κάτι</td>
<td>51</td>
<td>Μαρία</td>
<td>Λέκτορα</td>
<tr><td>44</td>
<td>Επιχορήγηση κάτι</td>
<td>55</td>
<td>Μαρία</td>
<td>Παπαπά</td>
<tr><td>44</td>
<td>Επιχορήγηση κάτι</td>
<td>57</td>
<td>Μαρία</td>
<td>Μητροπάνου</td>
<tr><td>44</td>
<td>Επιχορήγηση κάτι</td>
<td>86</td>
<td>Οδυσσέας</td>
<td>Σημηριώτης</td>
<tr><td>44</td>
<td>Επιχορήγηση κάτι</td>
<td>87</td>
<td>Μιλτιάδης</td>
<td>Στεφανόπουλος</td>
<tr><td>44</td>
<td>Επιχορήγηση κάτι</td>
<td>88</td>
<td>Ορέστης</td>
<td>Δέδες</td>
<tr><td>44</td>
<td>Επιχορήγηση κάτι</td>
<td>89</td>
<td>Στυλιανός</td>
<td>Δασκαλάκη</td>
<tr><td>44</td>
<td>Επιχορήγηση κάτι</td>
<td>90</td>
<td>Σπύρος</td>
<td>Γαλάνης</td>
<tr><td>44</td>
<td>Επιχορήγηση κάτι</td>
<td>103</td>
<td>Μαρία</td>
<td>Κουράκη</td>
<tr><td>44</td>
<td>Επιχορήγηση κάτι</td>
<td>105</td>
<td>Μαρία</td>
<td>Κυπραίου</td>
<tr><td>46</td>
<td>Διαδίκτυο</td>
<td>24</td>
<td>Βρασίδας</td>
<td>Κρεμμυδόπουλος</td>
<tr><td>50</td>
<td>Ψυγείο με τεχνητή νοημοσύνη</td>
<td>37</td>
<td>Αλέξανδρος</td>
<td>Γεωργίου</td>
<tr><td>50</td>
<td>Ψυγείο με τεχνητή νοημοσύνη</td>
<td>44</td>
<td>Βαγγέλης</td>
<td>Παππάς</td>
<tr><td>50</td>
<td>Ψυγείο με τεχνητή νοημοσύνη</td>
<td>54</td>
<td>Γιώργος</td>
<td>Παπαλούλος</td>
<tr><td>52</td>
<td>Χαλυβουργία Υψηλού Επιπέδου</td>
<td>54</td>
<td>Γιώργος</td>
<td>Παπαλούλος</td>
<tr><td>56</td>
<td>Κατασκευή ιπτάμενων αυτοκινήτων</td>
<td>3</td>
<td>Ανθή</td>
<td>Γκίκα</td>
<tr><td>56</td>
<td>Κατασκευή ιπτάμενων αυτοκινήτων</td>
<td>4</td>
<td>Μαρία</td>
<td>Καραμήτρου</td>
<tr><td>56</td>
<td>Κατασκευή ιπτάμενων αυτοκινήτων</td>
<td>34</td>
<td>Γιάννης</td>
<td>Λουλάκης</td>
<tr><td>57</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<td>3</td>
<td>Ανθή</td>
<td>Γκίκα</td>
<tr><td>57</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<td>4</td>
<td>Μαρία</td>
<td>Καραμήτρου</td>
<tr><td>57</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<td>70</td>
<td>Γιάννης</td>
<td>Γιαννιώτας</td>
<tr><td>57</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<td>71</td>
<td>Αλεξάνδρα</td>
<td>Μητρολάνου</td>
<tr><td>57</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<td>76</td>
<td>Γιάννης</td>
<td>Μεράκης</td>
<tr><td>57</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<td>77</td>
<td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<tr><td>57</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<td>78</td>
<td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<tr><td>57</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<td>79</td>
<td>Αντωνία</td>
<td>Καβαλούρη</td>
<tr><td>57</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<td>80</td>
<td>Αντριάννα</td>
<td>Κουλούρης</td>
<tr><td>57</td>
<td>Άθραυστοι σιδερένιοι τόιχοι μικρού πάχους</td>
<td>82</td>
<td>Βλάσης</td>
<td>Μοσχόπουλος</td>
<tr><td>58</td>
<td>Ένα ακόμα</td>
<td>77</td>
<td>Αλεξάνδρα</td>
<td>Ποτίκου</td>
<tr><td>58</td>
<td>Ένα ακόμα</td>
<td>78</td>
<td>Απόστολος</td>
<td>Ελευθερόπουλος</td>
<tr><td>58</td>
<td>Ένα ακόμα</td>
<td>79</td>
<td>Αντωνία</td>
<td>Καβαλούρη</td>
<tr><td>58</td>
<td>Ένα ακόμα</td>
<td>80</td>
<td>Αντριάννα</td>
<td>Κουλούρης</td>
<tr><td>58</td>
<td>Ένα ακόμα</td>
<td>82</td>
<td>Βλάσης</td>
<td>Μοσχόπουλος</td>
</table><button><a href='landing'>Back to landing</a></button></body></html>